<template>
    <div>
        <login v-if="this.$root.user === null"></login>
        <div class="container mt-5 mb-5" v-else>
            <h1>License Panel</h1>
            <div class="row">
                <div class="col-md-3">
                    Hey, {{ this.$root.user.email }}
                    <ul class="nav nav-pills mt-3 flex-column">
                        <li class="nav-item">
                            <router-link to="/home" class="nav-link" active-class="active">View Licenses</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link to="/add" class="nav-link" active-class="active">Add License</router-link>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" v-on:click="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "router",
        methods: {
            logout() {
                delete localStorage.token;
                this.$root.user = null;

            }
        }
    }
</script>

<style scoped>

</style>
