@import '~bootstrap/scss/bootstrap';

.center {
    text-align: center;
}

.bold-display {
    font-weight: bold;
    font-size: 1.3em;
}

.bg-darker-primary {
    background-color: #0056b3 !important;
}
