<template>
    <div class="card">
        <div class="card-body" v-if="deleted">
            License deleted.
        </div>
        <div class="card-body" v-else>
            <div class="row">
                <div class="col-md-9">
                    <span v-if="license.nickname == null">License #{{ this.license.id }}</span><span v-else>{{ license.nickname }} (#{{ this.license.id }})</span> <span :class="badgeColor">{{ badgeText }}</span>
                    <br />Project {{ this.license.projectId }}
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-secondary btn-sm w-100" v-on:click="remove()" v-if="this.license.type !== 1">Revoke</button>
                    <button class="btn btn-outline-secondary btn-sm w-100" disabled v-if="this.license.type === 1">Revoke</button>
                    <button class="btn btn-outline-secondary btn-sm w-100 mt-1" v-on:click="newDep()" v-if="this.license.type === 1">+ Deployment Lic.</button>
                    <button class="btn btn-outline-secondary btn-sm w-100 mt-1" v-on:click="configMod()" v-if="this.license.type === 1 || this.license.type === 2">Modify Config</button>
                    <button class="btn btn-outline-secondary btn-sm w-100 mt-1" v-on:click="nickname()">Nickname</button>
                </div>
            </div>
            <div v-if="children.length > 0 || tempNum > 0">
                <hr />
                <h5>Children ({{ children.length + tempNum }})</h5>
                <div class="mt-3" v-for="license in this.children">
                    <license-view :license="license" />
                </div>
                <small class="text-muted mt-3" v-if="tempNum > 0">{{ tempNum }} temporary licenses not shown.</small>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "license-view",
        props: ['license'],
        data: () => {
            return {deleted: false};
        },
        computed: {
            tempNum() {
                return this.license.children.filter(e => e.type === 3).length;
            },
            children() {
                return this.license.children.filter(e => e.type !== 3);
            },
            badgeColor() {
                switch(this.license.type) {
                    case 1:
                        return "badge badge-primary";
                    case 2:
                        return "badge badge-info";
                    case 3:
                    default:
                        return "badge badge-secondary";
                }
            },
            badgeText() {
                switch(this.license.type) {
                    case 1:
                        return "Master";
                    case 2:
                        return "Deployment";
                    case 3:
                    default:
                        return "Temporary";
                }
            }
        },
        methods: {
            nickname() {
                let f = this;
                swal.fire({
                    text: "Enter a new name for this license.",
                    input: "text",
                    showCancelButton: true
                }).then(e => {
                    if(!e.value) return;
                    fetch(_f("/license/" + this.license.id + "/nickname?api_token=" + localStorage.token), {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({nickname: e.value})
                    });
                    f.license.nickname = e.value;
                    this.$forceUpdate();
                });
            },
            configMod() {
                router.push('/home/' + this.license.id + '/config');
            },
            remove() {
                if(this.children.length > 0) {
                    swal.fire({
                        titleText: "You can't do that.",
                        text: "You must remove all children licenses before removing this one.",
                        icon: "error"
                    });
                    return;
                }
                swal.fire({
                    titleText: "You sure about this?",
                    text: "Any current licenses may still validate client-side, but server-side validation will fail. This license will also be placed on the LRL.",
                    icon: "warning",
                    footer: "This action is irreversible.",
                    showCancelButton: true,
                    focusCancel: true
                }).then(e => {
                    if(!e.value) return;
                    swal.fire({
                        text: "Revoking...",
                        showConfirmButton: false,
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false
                    });
                    swal.showLoading();
                    fetch(_f("/license/" + encodeURIComponent(this.license.id) + "?api_token=" + encodeURIComponent(localStorage.token)), {
                        method: "DELETE",
                    }).then(e => {
                        swal.close();
                        this.deleted = true;
                    });
                });
            },
            newDep() {
                swal.fire({
                    titleText: "Verification",
                    text: "This will create a new deployment license for things like kubernetes. Are you sure you want to continue?",
                    icon: "question",
                    showCancelButton: true,
                    focusCancel: true
                }).then(e => {
                    if(!e.value) return;
                    swal.fire({
                        text: "Creating a new deployment license...",
                        showConfirmButton: false,
                        allowEnterKey: false,
                        allowEscapeKey: false,
                        allowOutsideClick: false
                    });
                    swal.showLoading();
                    fetch(_f("/deploy/" + encodeURIComponent(this.license.id) + "?api_token=" + encodeURIComponent(localStorage.token)),
                        {
                            method: "POST"
                        }).then(e => e.json()).then(e => {
                        swal.fire({
                            html: "<p>This is your license. It will not be shown again, so guard it with your life.</p>" +
                                "<textarea class='form-control' rows='10' readonly>"+e.data.jwt+"</textarea>"
                        });
                        this.license.children.push(e.data.license);
                    });
                });
            }
        }
    }
</script>

<style scoped>

</style>
