<template>
    <div>
        <h2>Adding new license</h2>
        <form class="mt-3">
            <div class="row">
                <div class="col-md-9">
                    <input type="password" class="form-control" ref="key" id="key" :disabled="load" placeholder="Master Key">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary w-100" v-on:click="masterKey()" :disabled="load">Add</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "add-license",
        data: () => ({
            load: false
        }),
        methods: {
            masterKey() {
                this.load = true;
                getPubKey().then(pubkey => {
                    let e;
                    if(!KJUR.jws.JWS.verify(this.$refs.key.value, pubkey, ['RS256'])) {
                        swal.fire({
                            icon: "error",
                            titleText: "Unable to verify license",
                            text: "The license is not trusted."
                        });
                        this.$refs.key.value = "";
                        this.load = false;
                        return;
                    }
                    try {
                        e = KJUR.jws.JWS.parse(this.$refs.key.value).payloadObj;
                    } catch(exc) {
                        swal.fire({
                            icon: "error",
                            titleText: "Unable to verify license",
                            text: "JWS is malformed"
                        });
                        this.$refs.key.value = "";
                        this.load = false;
                        return;
                    }
                    if(e.expired_at > Date.now()) {
                        swal.fire({
                            icon: "error",
                            titleText: "License cannot be used",
                            text: "The license has expired."
                        });
                        this.$refs.key.value = "";
                        this.load = false;
                        return;
                    }
                    if(e.license.type !== 1) {
                        swal.fire({
                            icon: "error",
                            titleText: "License cannot be used",
                            text: "The license provided is a type " + e.license.type + " license, not a type 1."
                        });
                        this.$refs.key.value = "";
                        this.load = false;
                        return;
                    }
                    fetch(_f('/license/claim?api_token=' + localStorage.token), {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({license: this.$refs.key.value})
                    }).then(e => {
                        this.load = false;
                        if(e.status !== 204) return e.json().then(e => {
                            alert("An error occurred while claiming the license.\n\n" + e.data.error);
                        });
                        this.$refs.key.value = "";
                        alert("License claimed. You may need to refresh the page for it to appear.");
                    })
                });
            },
        }
    }
</script>

<style scoped>

</style>
