<template>
    <div>
        <h2>Config Editor <small class="text-muted">#{{ this.$route.params.id }}</small></h2>
        <div v-if="license == null">
            That license doesn't exist.
        </div>
        <div v-else>
            <h5>Inherited Config (May not be up to date)</h5>
            <div id="inherited" style="width: 100%; height: 300px;"></div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <h5>License Config</h5>
                    <div id="config" style="width: 100%; height: 500px;"></div>
                </div>
                <div class="col-md-6">
                    <h5>Full Config</h5>
                    <div id="full" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary" :disabled="saving" v-on:click="save()">Save</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "config-editor",
        data: () => {
            return {
                conf: {},
                saving: false,
                changed: false
            }
        },
        methods: {
            save() {
                this.saving = true;
                fetch(_f("/license/" + this.$route.params.id + "/config?api_token=" + encodeURIComponent(localStorage.token)), {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({config: JSON.stringify(this.conf)})
                }).then(e => {
                    this.saving = false;
                    if(e.status != 204) return;
                    swal.fire({
                        icon: "success",
                        titleText: "Saved.",
                        position: "top-end",
                        toast: true
                    });
                    this.license.config = this.conf;
                    this.license.full_config = this.full;
                })
            }
        },
        computed: {
            license() {
                let user = this.$root.user;
                for(let a in user.licenses) {
                    a = user.licenses[a];
                    if(a.id == this.$route.params.id) return a;
                    for(let b in a.children) {
                        b = a.children[b];
                        if(b.id == this.$route.params.id) return b;
                    }
                }
                return null;
            },
            inherited() {
                if(this.license == null) return null;
                return this.license.inherited_config;
            },
            config() {
                if(this.license == null) return null;
                return this.license.config;
            },
            full() {
                if(this.license == null) return null;
                if(!this.changed) return this.license.full_config;
                let copy = {};
                if(this.inherited !== null) Object.assign(copy, this.inherited);
                Object.assign(copy, this.conf);
                return copy;
            }
        },
        mounted() {
            this.conf = this.config;
            let icontainer = document.getElementById('inherited');
            window.ieditor = new jsoneditor(icontainer, {mode: 'view'});
            let ccontainer = document.getElementById('config');
            window.ceditor = new jsoneditor(ccontainer, {mode: 'code', onChangeText: (json) => {
                    let js = {};
                    try {
                        js = JSON.parse(json);
                    } catch {
                        return;
                    }
                    this.changed = true;
                    this.conf = js;
                    feditor.set(this.full);
                }});
            let fcontainer = document.getElementById('full');
            window.feditor = new jsoneditor(fcontainer, {mode: 'view'});
            if(this.inherited != null)
                ieditor.set(this.inherited);
            if(this.config != null)
                ceditor.set(this.config);
            if(this.full != null)
                feditor.set(this.full);
        }
    }
</script>

<style scoped>

</style>
