<template>
    <div>
        <h2>Viewing all licenses</h2>
        <div class="mt-3" v-for="license in this.$root.user.licenses">
            <license-view :license="license"></license-view>
        </div>
    </div>

</template>

<script>
    export default {
        name: "homepage",
    }
</script>

<style scoped>

</style>
