<template>
    <div>
        <div class="d-flex justify-content-center mt-5" v-if="!showRegister">
            <div class="w-50">
                <div class="card">
                    <div class="card-header">
                        Welcome Back
                    </div>
                    <div class="card-body">
                        Enter your email address and password to continue.

                        <form class="mt-3">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <input type="email" class="form-control" ref="email" id="email" :disabled="load" placeholder="Email Address" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <input type="password" class="form-control" ref="password" id="password" :disabled="load" placeholder="Password" />
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary w-100" :disabled="load" v-on:click="login()">{{loginButtonText}}</button>
                                </div>
                            </div>
                        </form>
                        <hr />
                        Don't have an account? Enter your master license below.
                        <form class="mt-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="password" class="form-control" ref="key" id="key" :disabled="load" placeholder="Master Key">
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary w-100" v-on:click="masterKey()" :disabled="load">{{masterButtonText}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5" v-else>
            <div class="w-50">
                <div class="card">
                    <div class="card-header">
                        Welcome aboard.
                    </div>
                    <div class="card-body">
                        Enter your information into the form below to continue. Your license is valid for project ID <strong>{{ linfo.aud }}</strong>.

                        <form class="mt-3">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <input type="email" class="form-control" ref="nemail" id="nemail" :disabled="load" placeholder="Email Address" />
                                </div>
                                <div class="col-md-4 form-group">
                                    <input type="password" class="form-control" ref="npassword" id="npassword" :disabled="load" placeholder="Password" />
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary w-100" :disabled="load" v-on:click="register()">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "login",
        data: () => {
            return {
                load: false,
                masterButtonText: "Go",
                loginButtonText: "Login",
                showRegister: false,
                savedKey: null,
                linfo: {}
            }
        },
        methods: {
            login() {
                this.load = true;
                fetch(_f('/login'), {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({email: this.$refs.email.value, password: this.$refs.password.value})
                }).then(e => e.json()).then(e => {
                    if(e.code !== 200) {
                        swal.fire({
                            titleText: "Login failed.",
                            text: e.data.error,
                            icon: "error"
                        });
                        this.load = false;
                        return;
                    }
                    localStorage.token = e.data.token;
                    fetch(_f('/user?api_token=' + encodeURI(localStorage.token))).then(e => e.json()).then(e => {
                        if(e.code !== 200) this.load = false;
                        else {
                            this.$root.user = e.data;
                        }
                    });
                });
            },
            masterKey() {
                this.load = true;
                this.masterButtonText = "Loading...";
                getPubKey().then(pubkey => {
                    let e;
                    if(!KJUR.jws.JWS.verify(this.$refs.key.value, pubkey, ['RS256'])) {
                        swal.fire({
                            icon: "error",
                            titleText: "Unable to verify license",
                            text: "The license is not trusted."
                        });
                        this.$refs.key.value = "";
                        this.masterButtonText = "Go";
                        this.load = false;
                        return;
                    }
                    try {
                        e = KJUR.jws.JWS.parse(this.$refs.key.value).payloadObj;
                    } catch(exc) {
                        swal.fire({
                            icon: "error",
                            titleText: "Unable to verify license",
                            text: "JWS is malformed"
                        });
                        this.$refs.key.value = "";
                        this.masterButtonText = "Go";
                        this.load = false;
                        return;
                    }
                    if(e.expired_at > Date.now()) {
                        swal.fire({
                            icon: "error",
                            titleText: "License cannot be used",
                            text: "The license has expired."
                        });
                        this.$refs.key.value = "";
                        this.masterButtonText = "Go";
                        this.load = false;
                        return;
                    }
                    if(e.license.type !== 1) {
                        swal.fire({
                            icon: "error",
                            titleText: "License cannot be used",
                            text: "The license provided is a type " + e.license.type + " license, not a type 1."
                        });
                        this.$refs.key.value = "";
                        this.masterButtonText = "Go";
                        this.load = false;
                        return;
                    }
                    this.savedKey = this.$refs.key.value;
                    this.$refs.key.value = "";
                    this.linfo = e;
                    this.showRegister = true;
                    this.load = false;
                });
            },
            register() {
                this.load = true;
                fetch(_f('/license/claim'), {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({license: this.savedKey, email: this.$refs.nemail.value, password: this.$refs.npassword.value})
                }).then(e => e.json()).then(e => {
                    if(e.code !== 200) {
                        swal.fire({
                            icon: "error",
                            titleText: "There was an error",
                            text: e.data.error
                        });
                        this.load = false;
                        return;
                    }
                    localStorage.token = e.data.token;
                    this.load = false;
                    fetch(_f('/user?api_token=' + encodeURI(localStorage.token))).then(e => e.json()).then(e => {
                        if(e.code !== 200) this.load = false;
                        else {
                            this.$root.user = e.data;
                        }
                    });
                });
            }
        },
        mounted() {
            if(localStorage.token === undefined) return;
            this.load = true;
            fetch(_f('/user?api_token=' + encodeURI(localStorage.token))).then(e => e.json()).then(e => {
                if(e.code !== 200) this.load = false;
                else {
                    this.$root.user = e.data;
                }
            });
        }
    }
</script>

<style scoped>

</style>
